
/* Stile generale */
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Dancing Script', cursive; /* Applica il font su tutto il sito */
	line-height: 1.6;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body.gallery-active {
	overflow: hidden;
}

h2 {
	font-size: 3.5em;
	margin-bottom: 20px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	text-align: center;
}

p, ul, form {
	margin: 0 auto;
	font-size: 1.5em;
	text-align: center;
	list-style-position: inside;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input, textarea, button {
	margin-top: 10px;
	padding: 15px;
	border-radius: 8px;
	border: none;
	font-size: 1em;
	outline: none;
}

input, textarea {
	width: 100%;
	max-width: 500px;
}

/* Pulsanti e link */
button, a {
	color: white;
	background-color: #333;
	border: none;
	padding: 10px 20px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	font-family: 'Dancing Script', cursive;
}

button:hover, a:hover {
	background-color: #555;
}

button:disabled {
	background-color: #666;
	color: white;
	cursor: not-allowed;
	opacity: 0.8;
}

.spinnerContainer {
	display: none;
}

.spinner {
    border: 5px solid #333; /* Colore di sfondo */
    border-top: 5px solid #bc964e; /* Colore dell'animazione */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*-------------------------------------------*/

/* Stile della barra di navigazione */
nav {
	position: fixed;
	top: 0;
	width: -webkit-fill-available;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
}

nav .logo-container {
	display: flex;
}

nav .logo {
	height: 55px;
	width: auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	position: relative;
}

nav ul li a {
	font-size: 1.2em;
	color: white;
	padding: 10px 15px;
	display: block;
	position: relative;
	z-index: 1;
	background-color: transparent;
}

nav ul li a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5px;
	background: #bc964e;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
	z-index: -1;
}

nav ul li a:hover {
	color: #bc964e;
	background-color: transparent;
}

nav ul li a:hover::after {
	transform: scaleX(1);
}

nav ul li a.active {
	color: #bc964e;
}

nav ul li a.active:after {
	transform: scaleX(1);
}

nav ul hr {
	color: #fff;
    width: 50%;
}

/* Menu toggle - Hamburger */
.menu-toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 22px;
	cursor: pointer;
}

.menu-toggle div {
	height: 4px;
	background-color: #fff;
	border-radius: 6px;
	transition: all 0.3s ease;
}

/* Anima la trasformazione del pulsante */
.menu-toggle.active .bar1 {
	transform: rotate(-45deg) translate(-6px, 7.5px);
}
.menu-toggle.active .bar2 {
	opacity: 0;
}
.menu-toggle.active .bar3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
/*-------------------------------------------*/

/* Stile comune delle sezioni */
section {
	padding: 100px 20px;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo-image {
	max-width: 150%;
	max-height: 150%;
	object-fit: contain;
	position: absolute;
	opacity: 0.2;
}

.foot-overlay {
	width: 100%;
	height: 100%;
	top: 1px;
	left: 0;
	position: absolute;
}

.white {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 92.5%, rgba(253, 253, 253, 0.9) 99%, rgba(253, 253, 253, 1) 100%);
}

.grey {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 92.5%, rgba(235, 235, 235, 0.9) 99%, rgba(235, 235, 235, 1) 100%);
}

.content {
	width: 100%;
	height: 100%;
	z-index: 2;
	overflow: hidden;
}
/*--------------------------------------------------------------------------------------*/

/* HOME */
#home {
	padding-top: 65px;
	height: 90vh;
	justify-content: flex-end;
	color: white;
}

#countdown {
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	font-size: 2em;
	margin-bottom: 35px;
}

#bg-video {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
/*-------------------------------------------*/

/* DETTAGLI */
#details {
	background: rgba(253, 253, 253, 1);
	color: #333;
}
/*-------------------------------------------*/

/* PRENOTAZIONI */
#rsvp {
	background: rgba(235, 235, 235, 1);
	color: #333;
}

#rsvp button {
	margin: 20px;
    font-size: 22px;
}
/*-------------------------------------------*/

/* DONAZIONI */
#donations {
	background: rgba(253, 253, 253, 1);
	color: #333;
}

#donations .content {
	padding-bottom: 35px;
}

#iban-container {
	display: flex;
	align-items: center;
	position: relative;
	border: 2px solid #000;
	border-radius: 10px;
	justify-content: center;
	flex-direction: row;
	width: fit-content;
	margin: 4px auto;
	background-color: white;
}

#iban {
	margin: 0;
	padding: 0 10px;
	font-size: 1.05em;
}

#popup {
	position: absolute;
	top: 120%; /* Posiziona il popup appena sotto il pulsante */
	left: 50%;
	transform: translateX(-50%);
	background: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.6s ease-out; /* Animazione di fade in / out */
}

/* Triangolino sotto il popup */
#popup::after {
	content: '';
	position: absolute;
	top: -11px;
	left: 50%;
	transform: translateX(-50%);
	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent #333 transparent; /* Triangolo nero */
}

#copy-button {
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/*-------------------------------------------*/

/* LOCATION */
#location {
	background: rgba(235, 235, 235, 1);
	color: #333;
}

#location a {
	color: #333;
	border: none;
	background-color: transparent;
	font-weight: bold;
	padding: 0;
	position: relative;
}

#map {
	padding: 5px;
	padding-top: 15px;
}

.mapouter {
	position: relative;
	text-align: right;
	height: 560px;
	width: 100%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 560px;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
/*-------------------------------------------*/

/* GALLERIA */
#gallery {
	background: rgba(253, 253, 253, 1);
	color: #333;
}

.swiper-slide {
	display: flex !important;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s, opacity 0.3s, z-index 0.3s;
	position: relative;
}

.swiper-slide img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	border-radius: 15px;
}

/* Stile del modulo */
#upload-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 20px;
	max-width: 400px;
	margin: auto;
}

/* Stile dell'input file */
#file {
	display: none; /* Nascondi l'elemento originale */
}

/* Stile del label per il file input */
#file-label {
	background-color: #333;
	color: white;
	padding: 10px 20px;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
}

#file-label:hover {
	background-color: #555;
}

#submit-photos {
	font-size: 22px;
}
/*-------------------------------------------*/

/* CONTATTI */
#contacts {
	background: rgba(235, 235, 235, 1);
	color: #333;
}

#contacts a {
	color: #333;
	border: none;
	background-color: transparent;
	font-weight: bold;
	padding: 0;
	position: relative;
}

.contact::after {
    content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 1.5px;
	background: #333;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
	z-index: -1;
}

.contact:hover::after {
    transform: scaleX(1);
}
/*-------------------------------------------*/

/* COOKIES */
#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 5000;
    display: none; /* Il banner apparirà solo se l'utente non ha scelto */
}
/*-------------------------------------------*/

/* Stili responsivi */
@media only screen and (max-width: 1150px) {
	/* Classe per il body per prevenire prevenire lo scorrimento */
	body.menu-active {
		overflow: hidden;
	}
	
	/* Testi e titoli */	
	h2 {
		font-size: 2.2em;
	}
	
	p, a, button {
		font-size: 1.5em;
	}
	
	nav ul {
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s ease, visibility 0.4s ease;
		background: rgba(0, 0, 0, 0.8);
	}

	nav ul.show {
		display: block;
		overflow-y: auto;
		max-height: calc(100vh - 54px);
		opacity: 1;
		visibility: visible;
	}
	
	nav ul li {
		margin: 10px auto;
		width: fit-content;
	}
	
	nav a {
		color: white;
		padding: 10px;
	}
	
	/* Ridimensionamento delle immagini */
	img {
		width: 100%;
		height: auto;
	}
	
	/* Pulsanti e link */
	button, a {
		padding: 10px 15px;
	}
	
	#time {
		font-size: 1em;
	}
	
	.contact {
		font-size: 1em;
	}
}

/* Responsive adjustments */
@media (min-width: 1150px) {
	/* Classe per il body per lo scorrimento */
	body.menu-active {
		overflow: auto;
	}
	
	.menu-toggle {
		display: none;
	}
	
	nav ul {
		display: flex;
	}
	
	nav ul li {
		margin: 0 10px;
	}
	
	nav ul hr {
		display: none;
	}
}

/* Scrollbar stile iOS */
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}

* {
	scrollbar-width: none;
	scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1);
}

*::-ms-scrollbar {
	width: 0px;
	background: rgba(0, 0, 0, 0.1);
}

*::-ms-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}

*::-ms-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}
/*-------------------------------------------*/




#complete-gallery {
	justify-content: center;
	z-index: 5;
	position: fixed;
	height: calc(100% - 54px);
	width: 100%;
	padding-top: 55px;
    top: 0;
	display: none;
	overflow: auto;
	background: #fff;
}

.gallery-show {
	display: none;
}

#gallery-title {
	display: none;
	color: white;
	font-size: 1.5em;
}

.back-arrow {
	display: none;
	color: white;
	font-size: 1.7em;
	height: 55px;
	align-content: center;
	cursor: pointer;
}

.gallery-container {
	max-width: calc(100% - 40px);
	text-align: center;
	margin-top: 8px;
}

.gallery-content {
	padding-top: 15px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	justify-content: center;
}

.gallery img {
	border: 2px solid #fff;
	border-radius: 8px;
	width: 130px;
	height: 100px;
	object-fit: cover;
	cursor: pointer;
}

.buttons {
	position: fixed;
    top: 65px;
    right: 10px;
	display: flex;
	z-index: 11;
}

button {
	padding: 10px 15px;
	margin: 0 5px;
	cursor: pointer;
	font-size: 16px;
}

/* Stile per il modal */
.modal {
	display: none;
	position: fixed;
	z-index: 1000; /* Assicurati che il modal sia sopra tutti gli altri contenuti */
	left: 0;
	top: 55px;
	width: 100%;
	height: calc(100% - 54px);
	background-color: rgba(0,0,0,0.8); /* Colore di sfondo scuro con trasparenza */
}

/* Contenitore per l'immagine e i controlli di navigazione */
.modal-content-container {
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	position: absolute;
	width: calc(100% - 80px);
	height: calc(100% - 78px);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

/* Stile per l'immagine nel modal */
.modal-content {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain; /* Mantiene il rapporto di aspetto */
}

/* Controlli di navigazione nel modal */
.prev,
.next {
	position: absolute;
	top: calc(50% - 27.5px);
	padding: 0px;
	cursor: pointer;
	transform: translateY(-50%);
	z-index: 2000;
	font-size: 40px;
	margin: 0;
	background: transparent;
	height: 80px;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

/* Pulsante di download in basso centrale */
.download-modal-button {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(67, 67, 67, 0.8);
	border: 1px solid #cccccc;
	padding: 10px;
	cursor: pointer;
	z-index: 2000; /* Assicurati che il pulsante di download sia sopra l'immagine */
}

.download-modal-button:hover {
	background-color: rgba(90, 90, 90, 1);
}

/* Stile per la chiusura del modal */
.close {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	z-index: 2000;
}

/* Per gestire lo stile delle immagini nella galleria */
.gallery-image {
	position: relative;
	cursor: pointer;
	transition: transform 0.2s;
}

/* Effetto quando un'immagine è selezionata */
.gallery-image.selected {
	transform: scale(0.92);
	border: 2px solid #bc964e;
}

.img-container-div {
	position: relative;
}

/* Spunta di selezione in alto a destra */
.img-container-div.selected::after {
	content: "✓";
    position: absolute;
    bottom: 18px;
    right: 11px;
    background-color: #bc964eee;
	backdrop-filter: blur(1px);
    color: white;
    font-size: 16px;
    padding: 3px;
    border-radius: 50%;
    z-index: 10;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
	border: 1px solid #fff;
}

#select-button {
	font-size: 17px;
    text-align: center;
    padding: 8px;
    border-radius: 14px;
    backdrop-filter: blur(1px);
    background: #333c;
}

#download-button {
	display: none;
	font-size: 17px;
    text-align: center;
    padding: 8px;
    border-radius: 14px;
    backdrop-filter: blur(1px);
    background: #333c;
}

/* Stile del pulsante "Seleziona" quando attivo */
#select-button.active {
	background-color: #bc964ecc;
	color: white;
}
