/* Stile generale per l'intero documento */
html {
    scroll-behavior: smooth; /* Scorrimento fluido per i link interni */
}

body {
    font-family: 'Dancing Script', cursive; /* Applica il font personalizzato su tutto il sito */
    line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
    margin: 0; /* Rimuove il margine predefinito */
    padding: 0; /* Rimuove il padding predefinito */
    background-color: #f9f9f9; /* Colore di sfondo generale */
    overflow-x: hidden; /* Previene lo scorrimento orizzontale */
}

/* Stile per intestazioni principali */
h1, h2 {
    font-size: 2.5em; /* Dimensione del font per intestazioni */
    margin-bottom: 20px; /* Spazio inferiore */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombra per un effetto 3D */
}

/* Stile per paragrafi, liste non ordinate e form */
p, ul, form {
    margin: 0 auto; /* Centratura orizzontale */
    font-size: 1.2em; /* Dimensione del font */
    text-align: center; /* Testo centrato */
}

/* Stile specifico per i form */
form {
    display: flex; /* Disposizione degli elementi in colonna */
    flex-direction: column;
    align-items: center;
}

input, textarea, button {
    margin-top: 10px; /* Spaziatura superiore */
    padding: 15px; /* Spaziatura interna */
    border-radius: 8px; /* Angoli arrotondati */
    border: none; /* Rimozione del bordo predefinito */
    font-size: 1em; /* Dimensione del font */
    outline: none; /* Rimozione del contorno di focus */
}

input, textarea {
    width: 100%; /* Occupano il 100% della larghezza disponibile */
    max-width: 500px; /* Larghezza massima per una migliore leggibilità */
}

/* Stile per pulsanti e link */
button, a {
    color: white; /* Colore del testo */
    background-color: #333; /* Colore di sfondo scuro */
    border: none; /* Rimozione del bordo */
    padding: 10px 20px; /* Spaziatura interna */
    text-decoration: none; /* Rimozione della sottolineatura */
    transition: background-color 0.3s ease; /* Transizione al passaggio del mouse */
}

/* Effetto hover su pulsanti e link */
button:hover, a:hover {
    background-color: #555; /* Colore di sfondo al passaggio del mouse */
}

/*-------------------------------------------*/

/* Stile comune per le sezioni */
section {
    padding: 100px 20px; /* Spaziatura interna della sezione */
    min-height: 90vh; /* Altezza minima */
    color: white; /* Colore del testo */
    display: flex; /* Disposizione degli elementi */
    flex-direction: column;
    align-items: center; /* Allineamento centrale degli elementi */
    justify-content: center; /* Centratura verticale */
    background-size: cover; /* Sfondo a dimensione piena */
    background-position: center; /* Posizionamento centrale dello sfondo */
    position: relative; /* Posizionamento relativo per l'overlay */
}

/* Stile per immagini logo */
.logo-image {
    max-width: 150%; /* Dimensione massima */
    max-height: 150%; /* Altezza massima */
    object-fit: contain; /* Adatta l'immagine al contenitore */
    position: absolute; /* Posizionamento assoluto */
    opacity: 0.2; /* Trasparenza dell'immagine */
}

/* Overlay gradiente 1 */
.foot-overlay1 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 92.5%, rgba(235, 235, 235, 1) 99.5%, rgba(235, 235, 235, 1) 100%);
}

/* Overlay gradiente 2 */
.foot-overlay2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 92.5%, rgba(253, 253, 253, 1) 99.5%, rgba(253, 253, 253, 1) 100%);
}

/* Contenuto della sezione */
.content {
    width: 100%;
    height: 100%;
    z-index: 2; /* Posizionamento sopra l'overlay */
    overflow: hidden; /* Nasconde l'overflow */
}

/*-------------------------------------------*/

/* HOME: Stile specifico per la sezione iniziale */
#home {
    padding-top: 75px; /* Spaziatura superiore */
    position: relative;
    height: 90vh; /* Altezza della sezione */
    justify-content: flex-end; /* Allineamento alla fine */
}

/* Stile per il titolo principale della home */
#home h1 {
    font-family: 'Dancing Script', cursive; /* Font personalizzato */
    font-size: 3em; /* Dimensione del font */
    color: white; /* Colore del testo */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Ombra per effetto 3D */
    margin: 0;
    padding: 0px 20px;
    text-align: center; /* Testo centrato */
}

/* Stile per il countdown */
#home #countdown {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 2em;
    color: white;
    text-align: center;
}

/* Stile per il video di sfondo */
#home #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Video che copre l'intera sezione */
    z-index: -1; /* Posizionamento sotto il contenuto */
}

/* Overlay per contenuto home */
#home .overlay {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 12px;
    padding-bottom: 25px;
    animation: fadeIn 3.5s ease-out forwards; /* Animazione di entrata */
}

/*-------------------------------------------*/

/* Stile specifico per diverse sezioni */
#details, #rsvp, #donations, #location, #gallery, #contacts {
    background: linear-gradient(rgba(253, 253, 253, 0.9), rgba(253, 253, 253, 0.9)), url('sfondo.png') center/cover no-repeat; /* Sfondo sfumato con immagine */
    color: #333; /* Colore del testo */
}

/*-------------------------------------------*/

/* Stile specifico per la mappa */
.mapouter {
    position: relative;
    text-align: right;
    height: 560px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 560px;
    width: 100%;
}

/*-------------------------------------------*/

/* Galleria Immagini */
.gallery-content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 100%; /* Larghezza completa per la galleria */
}

.swiper-slide {
    display: flex !important; /* Mantiene il contenuto centrato */
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s, z-index 0.3s; /* Transizioni per gli elementi */
    position: relative;
}

.swiper-slide img {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Adatta le immagini */
    border-radius: 15px; /* Angoli arrotondati */
}

/*-------------------------------------------*/

/* Stile della barra di navigazione */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* Sfondo semi-trasparente */
    z-index: 1000; /* Priorità di visualizzazione sopra il contenuto */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombra della barra */
}

.nav-logo {
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555; /* Colore al passaggio del mouse */
    border-radius: 5px; /* Angoli arrotondati */
}

.menu-icon {
    display: none; /* Nascosto per desktop */
    font-size: 2em;
    cursor: pointer;
}

/* Media Query per dispositivi mobili */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Nasconde i link */
        position: absolute;
        top: 50px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        width: 100%;
    }

    .nav-links.active {
        display: flex; /* Mostra il menu al clic */
    }

    .menu-icon {
        display: block; /* Mostra l'icona del menu */
    }
}
